ORANGE_MONEY_ENABLED=false
ORANGE_MONEY_BASE_URL=
ORANGE_MONEY_MERCHANT_ID=
ORANGE_MONEY_API_KEY=
ORANGE_MONEY_CALLBACK_URL=http://localhost:8080/api/payments/orange-money/callback

MYZAKA_ENABLED=false
MYZAKA_BASE_URL=
MYZAKA_MERCHANT_ID=
MYZAKA_API_KEY=
MYZAKA_CALLBACK_URL=http://localhost:8080/api/payments/myzaka/callback
